body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #E8F1FF;
    color: #082B5C;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align:justify; /*выравнивание текста*/
    position: relative;
    margin: 0 auto;
}
  
header{
    background-color: #113D79;
    top: 0px;
    left: 0px;
    padding-left: 100px; /* Поля вокруг текста */
    padding-right: 5px;
    position: sticky;
    height: 112px;   
}

.main_header{
    float: left; /*Задаем обтекание*/
    line-height: 10px;/*Высота строки +  верт. центрирования текста*/
    font-size: 32px;
    color: #E8F1FF;
    margin-top: 50px;
    width: 370px; /*Фиксируем ширину блока*/
    margin-right: 100px;
    text-align: center; /*Центрируем текст по горизонтали*/
}

footer{
    background-color: #082B5C;
    color: #E8F1FF;
    font-size: 16px;
    position: static; /* Фиксированное положение */
    bottom: 0px; /* Левый нижний угол */
    padding: 5px 10px; /* Поля вокруг текста */
    height: 90px;  
}

.main{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align:justify; /*выравнивание текста*/
}

A{
    color: #E8F1FF;
    text-decoration: none;
}

A:visited{
    color: #E8F1FF;
    text-decoration: none;
}

A:active{
    color: #E8F1FF;
    text-decoration: none;
}

form{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 3px;
    text-align:center;
    font-size: 24px;
}

.login, .send, .registration, .back_handling, .handling{
    background: #113D79; /* Синий цвет фона */ 
    color: #E8F1FF; /* Белые буквы */ 
    border: 1px solid #113D79; /* Параметры рамки */
    font-size: 24px; /* Размер текста */
    padding: 5px 20px; /* Поля вокруг текста */
    border-radius: 20px; /* Уголки */
}

.reg{
    background: #6589C2; /* Синий цвет фона */ 
    color: #E8F1FF; /* Белые буквы */ 
    border: 1px solid #6589C2; /* Параметры рамки */
    font-size: 16px; /* Размер текста */
    padding: 5px 20px; /* Поля вокруг текста */
    border-radius: 15px; /* Уголки */
}

.main_table_text, .table_button{
    text-align:center;
}

.table{ 
    width: 80%; /* Ширина таблицы */
    background-color: #6589C2;
    border: 4px double #082B5C; /* Рамка вокруг таблицы */
    border-collapse: collapse; /* Отображать только одинарные линии */   
    padding: 15px 20px; /* Поля вокруг текста */ 
    margin: 0 auto;
}
   
.th, .td{ 
    text-align: left; /* Выравнивание по левому краю */
    padding: 15px; /* Поля вокруг содержимого ячеек */
    border: 1px solid #082B5C; /* Граница вокруг ячеек */
}
   
