body{
    font-family: 'Oswald', sans-serif;
    background-color: #E8F1FF;
    color: #082B5C;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align:justify; /*выравнивание текста*/
}
  
header{
    background-color: #113D79;
    color: #E8F1FF;
    top: 0px;
    margin-left: auto; /* устанавливает внешний отступ слева от элемента*/
    margin-right: auto;
    padding-left: 10px; /* Поля вокруг текста */
    padding-right: 5px;
    position: sticky;
}

footer{
    background-color: #082B5C;
    color: #E8F1FF;
    font-size: 16px;
    position: static; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding-left: 5px; /* Поля вокруг текста */
    width: 100%
}

.main{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align:justify; /*выравнивание текста*/
}