body{
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0 auto;
}

header{
  background-color: #113D79;
  top: 0px;
  left: 0px;
  padding-left: 100px; /* Поля вокруг текста */
  padding-right: 5px;
  position: sticky;
  height: 112px;   
  z-index: 1;
}

.main_header{
  float: left; /*Задаем обтекание*/
  line-height: 10px;/*Высота строки +  верт. центрирования текста*/
  font-size: 32px;
  color: #E8F1FF;
  margin-top: 50px;
  width: 370px; /*Фиксируем ширину блока*/
  margin-right: 100px;
  text-align: center; /*Центрируем текст по горизонтали*/
}

footer{
  color: #082B5C;
  font-size: 16px;
  position: fixed; /* Фиксированное положение */
  left: 15px; bottom: 0; /* Левый нижний угол */
  padding-left: 5px; /* Поля вокруг текста */
  z-index: 1;
}

.body_buttons{
 z-index: 1;
}

.search-form{
  position: fixed; /* Фиксированное положение */
  right: 15px; top: 115px; /* Левый нижний угол */
}

.search-btn{
  background: #E8F1FF; /* цвет фона */ 
  border: 1px solid #E8F1FF; /* Параметры рамки */
  font-size: 24px; /* Размер текста */
  padding: 0px 10px; /* Поля вокруг текста */
  border-radius: 15px; /* Уголки */
  height: 57px;
  width: 72px;
}

.search-field{
  background-color: #E8F1FF; /* Цвет фона */
  color: #113D79; /* Цвет текста */
  font-size: 24px; /* Размер текста */
  border: 1px solid #E8F1FF; /* Параметры рамки */
  padding: 0px 10px; /* Поля вокруг текста */
  border-radius: 15px; /* Уголки */
  width: 247px;
  height: 57px;
}

.legend{
  background-color: #082B5C;
  border-radius: 15px;
  color: #E8F1FF; /* Цвет текста */
  font-size: 24px; /* Размер текста */
  padding: 0px 10px; /* Поля вокруг текста */
  height: 59px;
  width: 550px;
  position: fixed; /* Фиксированное положение */
  left: 15px; bottom: 47px; /* Левый нижний угол */
}

.good_air_text{
  position: fixed; /* Фиксированное положение */
  left: 83px; bottom: 35px; /* Левый нижний угол */
}

.bad_air_text{
  position: fixed; /* Фиксированное положение */
  left: 373px; bottom: 35px; /* Левый нижний угол */
}

.good_air{
  background-color: #D9C8EF;
  border-radius: 10px;
  height: 40px;
  width: 40px;
  position: fixed; /* Фиксированное положение */
  left: 33px; bottom: 57px; /* Левый нижний угол */
}

.bad_air{
  background-color: #936AC7;
  border-radius: 10px;
  height: 40px;
  width: 40px;
  position: fixed; /* Фиксированное положение */
  left: 321px; bottom: 57px; /* Левый нижний угол */
}

A{
  color: #E8F1FF;
  text-decoration: none;
}

A:visited{
  color: #E8F1FF;
  text-decoration: none;
}

A:active{
  color: #E8F1FF;
  text-decoration: none;
}

.map_m{
  z-index: 0;
  min-height: 100vh;
  display: grid;
  place-content: center;
  place-items: center;
  background-color: rgb(241, 241, 241);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
#map {
  width: 1515px;
  height: 620px;
  border-radius: 0px;
  box-shadow: 0 0 1px #222;
  z-index: 0;
  position: fixed; /* Фиксированное положение */
  left: 0px; top: 115px; /* Левый нижний угол */
}
    
#my_position {
  padding: 0.25em 0.75em;
  margin: 1em 0.5em;
  cursor: pointer;
  user-select: none;
  z-index: 0;
}
